@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --color-primary: #ff9536;
  --color-primary-soft: #ffe9d4;
  --color-secondary: #1a9af7;
  --color-secondary-soft: #e7f5ff;
  --color-white: #fff;
  --color-bg: #faf8f7;
  --color-dark-bg: #201e1c;
  --color-text: #282623;
  --color-text-light: #bababa;
  --color-text-very-light: #b5b0ac;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--color-bg);
  color: var(--color-text);
}

button {
  background-color: transparent;
  border: none;
  line-height: 1.8;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  --btn-padding-x: ;
  --btn-padding-y: ;
  --btn-bg: ;
  --btn-color: ;
  --btn-hover-bg: ;
  --btn-hover-color: var(--btn-color);
  --btn-border-color: ;
  padding: var(--btn-padding-x) var(--btn-padding-y);
  background-color: var(--btn-bg) !important;
  color: var(--btn-color) !important;
  border: 2px solid var(--btn-border-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  border-radius: 4px;
  box-shadow: 0px 4px 8px 0px rgba(89, 73, 30, 0.16);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--btn-hover-bg) !important;
  color: var(--btn-hover-color) !important;
}

.btn-gray {
  --btn-padding-x: 0.75rem;
  --btn-padding-x: 1rem;
  --btn-bg: var(--color-bg);
  --btn-hover-bg: var(--color-bg);
  --btn-color: var(--color-dark-bg);
  --btn-border-color: transparent;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
}

.container-sm {
  max-width: 498px;
}

.title {
  font-size: 1.75rem;
  letter-spacing: 0.5px;
  margin-bottom: 1.5rem;
}

.text {
  color: var(--color-text-light);
  margin-bottom: 1.25rem;
}

/* section hero */

.hero {
  position: relative;
  height: 100vh;
  max-height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(-138deg, #201e1c, #f7931a);
  color: var(--color-white);
}

.hero-logo {
  width: 200px;
  margin: 0 auto;
  display: block;
  margin-bottom: 2rem;
}

.hero-logo img {
  width: 100%;
}

.hero-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.hero-text {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.hero-button {
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  width: 100%;
  max-width: 300px;
  transform: translate(-50%, 0);
}

.change,
.info,
.banner,
.plans,
.faq {
  text-align: center;
  padding: 3rem 0 5rem;
}

.info {
  background-color: var(--color-dark-bg);
  color: var(--color-white);
}

.banner {
  width: 100%;
  height: 350px;
  background-image: url(../media/image.jpg);
  background-position: center;
  background-size: cover;
  color: var(--color-white);
}

/* section change */

.change-image {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.change-image img {
  width: 100%;
}

.change-table {
  text-align: left;
}

.change-table-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 0.75rem 0.75rem;
}

.text-orange {
  color: var(--color-primary);
}
.text-blue {
  color: var(--color-secondary);
}

.change-table-blue,
.change-table-orange {
  width: max-content;
  padding: 8px;
  font-size: 0.75rem;
  border-radius: 8px;
}

.change-table-blue span,
.change-table-orange span {
  font-weight: bold;
}

.change-table-blue {
  background-color: var(--color-secondary-soft);
}
.change-table-orange {
  background-color: var(--color-primary-soft);
}

.change-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.change-table {
  width: 100%;
  max-width: 320px;
}

.change-table-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5px;
  border-radius: 4px;
  margin-bottom: 1rem;
  overflow: hidden;
}

.change-table-content p,
.change-table-content span {
  display: block;
  padding: 10px 12px;
  background-color: white;
  color: #b5b0ac;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.change-table-content p {
  justify-content: flex-start;
}

.change-table-content span {
  color: var(--color-text);
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .change-table {
    display: none;
  }
  .change-table.active {
    display: block;
  }

  .nav-button.disable {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .nav-button {
    display: none;
  }
}

.nav-button {
  height: 100%;
  border: none;
  padding: 1rem 0.5rem;
  background-color: transparent;
}

/* section info */

.info p {
  color: #808080;
}

.info-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.info-card {
  width: 100%;
  text-align: left;
  padding: 14px 16px 20px;
  background-color: #282623;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
}
.info-card-icon {
  margin-bottom: 10px;
}

.info-card-icon svg {
  width: 24px;
  height: 24px;
}

.info-card-title {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .info-card {
    flex: 0 0 calc(50% - 1rem);
    max-width: calc(50% - 1rem);
  }
}

/* section banner */

.banner h2 {
  font-size: 2rem;
}

/* section plans */

.plans-inner > p {
  margin-bottom: 50px;
}

.plans-cards {
  width: 100%;
  display: flex;
}

.plans-card {
  flex: 0 0 auto;
  width: 75%;

  scroll-snap-align: start;
  padding: 2rem 1rem 1.5rem;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 4px 8px 0px rgba(89, 73, 30, 0.16);
  white-space: wrap;
}

.plans-name {
  font-size: 14px;
  font-weight: bold;
}

.plans-price {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 0.25rem;
  font-size: 52px;
  line-height: initial;
  margin: 2rem 0;
  font-weight: bold;
}

.plans-price span {
  padding-top: 0.5rem;
  font-size: 14px;
}

.plans-info {
  font-size: 14px;
  color: #757575;
  margin-bottom: 1rem;
}

.plans a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 12px 16px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid #f7931a;
  background-color: #faf8f7;
  color: inherit;
  text-decoration: none;
}

.plans a i {
  font-size: 1.25rem;
  color: #f7931a;
}

@media screen and (max-width: 769px) {
  .plans-cards {
    display: flex;
    gap: 1rem;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
  }
  .plans-card {
    width: 100%;
    scroll-snap-align: start;
  }
}
